/* Add this to your existing CSS file */
.wrapper {
  border: 1px solid #612ace;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.propertyIcon {
  max-width: 100%;
  height: auto;
}



/* Add this to your existing CSS file */
.delPagePropertiesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* For large screens (3 columns) */
  gap: 20px; /* Gap between grid items */
}

/* For medium screens, use 2 columns */
@media (max-width: 1200px) {
  .delPagePropertiesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For small screens, use a single column */
@media (max-width: 768px) {
  .delPagePropertiesContainer {
    grid-template-columns: 1fr;
  }
}
