@import url(https://db.onlinewebfonts.com/c/e5dd271b22ec2264556a24efe4b740e9?family=Fenomen+Sans+Bold);

@font-face {
    font-family: "Fenomen Sans Bold";
    src: url("https://db.onlinewebfonts.com/t/e5dd271b22ec2264556a24efe4b740e9.eot");
    src: url("https://db.onlinewebfonts.com/t/e5dd271b22ec2264556a24efe4b740e9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e5dd271b22ec2264556a24efe4b740e9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e5dd271b22ec2264556a24efe4b740e9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e5dd271b22ec2264556a24efe4b740e9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e5dd271b22ec2264556a24efe4b740e9.svg#Fenomen Sans Bold")format("svg");
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: "Fenomen Sans Bold";
}

.homeTextsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondaryText {
    color: lightgrey;
}

.homePagePropertiesContainer {
    display: flex;
    flex-direction: row;
}

.carousel-container {
    display: flex;
    width: 80%;
    height: auto;
    border: none;
  }

  .react-multi-carousel-track {
    align-items: center;
    border: none;
 }

 .react-multi-carousel-item--active {
    display: flex;
    justify-content: center;
 }