
/* small screens */
@media (max-width: 768px) {
  .hamburger {
    border: none;
    background-color: inherit;
  }

  .navbar-open {
    width: 25px;
  }

  .nav-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .nav-links a {
    padding: 10px 20px;
    color: #808080;
    text-decoration: none;
    transition: background-color 0.2s;
  }

  .navbar-line {
    border-top: 1px solid #e9e9e9;
  }
}
