.sidebar {
  width: 20vw;
  border-right: 2px solid;
  padding: 20px;
  background-color: blue;
}

.email-link {
  display: flex;
  flex-direction: column;
}

.menu-links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
