.sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  border-right: 1px rgba(128, 128, 128, 0.3) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
}

.app-links {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
}

.app-links a:hover {
  background-color: #8a4fff;
  border-radius: 10px;
}

.app-logo {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.active {
  background-color: #8a4fff;
  font-size: large;
  font-weight: 700;
  border-radius: 8px;
}

.session-btn {
  border: 2px solid #8a4fff;
  width: 18vw;
  height: 45px;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.session-btn:hover {
  background-color: #e28181;
  color: #fff;
  font-size: smaller;
}

/* Small screens */
@media (max-width: 768px) {
  /* Your CSS styles for small screens */
  .large-screens {
    display: none;
  }
}
