@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Serif:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Adeola: Styles for the Sidebar/navbar and delete component */

/* Main app style for implementing the sidebar */

/* small screens */
@media (max-width: 768px) {
  .App {
    margin-top: 90px;
  }
  }

.App {
  display: flex;
}

.main-content {
  width: 80vw;
  margin-left: 20vw;
}

