@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Serif:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 250px;
}

.App {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  width: 80vw;
}

.homePagePropertiesContainer {
  display: flex;
  flex-direction: row;
  margin: 50px;
  gap: 50px;
  flex-wrap: wrap;
}

.individualPropertyContainerHP {
  display: flex;
  flex-direction: column;
}

.propertyImageContainerHP {
  height: 200px;
  width: 200px;
}

.propertyTextsContainerHP {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.propertyIconHomePage {
  height: 200px;
  width: 200px;
}
