@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Serif:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Montserrat', sans-serif;
}

/* .navbar {
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
} */

/* .email-link {
  display: flex;
  gap: 10px;
} */

.App {
  display: flex;
}

.sidebar {
  width: 20vw;
}

.main-content {
  width: 80vw;
}


